
@{
    ViewBag.Title = "Upload";
}

<h2>Upload Files</h2>

<form action="~/File/Upload" method="post" enctype="multipart/form-data">
    <input type="file" name="file" id="file">
    <input type="hidden" name="MAX_FILE_SIZE" value="20971520" />
    <br />
    <input type="submit">
</form>
